#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;
}

.projects-div{
  display: block;

}
@media (min-width: 768px) {
  .projects-div{
    display: flex;
    padding-left: 0%;
  }
}
.project-div{
  padding: 5%;
  /* padding-left: 10%; */
  text-align: left;
  min-width: 20%;
  max-width: 50%;
}

.sample-photo{
  height: 200px;
}
